body{
    color: blue;
}

a{
    color: white;
    text-decoration: none;
}

img{
    width: 150px;
    height: 40px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.mainbutton{
    background-color: blue;
    margin-top: 80px;
    padding: 15px;
    color:white;
    display:inline-block;
    border-radius:0.25 rem;
}

header{
    text-align: center;
    background-image: url(casper.jpg);
    background-color: black;
    padding:5px;
    height:450px;   
}

.topliner{
    font-size: 15px;
}

.bottomofheader{
    padding-top: 160px;
    display:block;
}

.testimonials{
    text-align: center;
}

.reviews{
    width: 400px;
    height:100px;
    margin-top: 150px;
    margin-right: 10px;
    text-align: left;
    display: inline-block;
}

.anchor{
    color:blue;
    
}

footer{
    text-align: center;
    margin-top: 100px;
    background-color: black;
    
}
